body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url(/public/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid blueviolet;
    overflow: hidden;
}
canvas {
    height: 100%;
    width: 100%;
    margin: 0;
}
nav{
    background-color: blueviolet;
}
ul{
    margin: 0;
}
ul>li{
    display: inline-flex;
}